html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300; 
}
.hero.is-success {  
  background-image: url('../img/fundo.jpg');
  background-size: cover;
  background-position: center;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}


button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}