body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', serif; 
  background-image: url('../img/fundo_page.jpg');
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.gallery div {  
  padding: 20px;
  
}

.gallery img {

  width: 330px;
  height: 330px;
  object-fit: cover; /* Para cobrir completamente o espaço da div */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.1);
}
 
.overlay {
  padding-top: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, #3498db, #2980b9); /* Cores de exemplo, substitua pelos tons desejados */
  opacity: 0.8; /* Ajuste a opacidade conforme necessário */
  z-index: 1; /* Coloca o overlay acima do conteúdo da div .maria */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  font-size: 25px;  
}


.highlight-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #e74c3c; /* Cor de fundo do botão de destaque */
  margin-top: 20px; /* Espaçamento superior para separar os botões */
  transition: background-color 0.3s ease;
}

.highlight-button:hover {
  background-color: #c0392b; /* Cor de fundo do botão de destaque ao passar o mouse */
}


#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e56a3;
  color: #fff;
  padding: 10px;
}

#logo {
  flex: 1;
  text-align: left;
}

#user-info {
  display: flex;
  justify-content: right;
  align-items: center;
  flex: 1;
  text-align: right;

}

#user-info img {
  border-radius: 50%;
  margin-right: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e56a3;
  color: #fff;
  padding: 10px;

}