html,body {
  font-family: 'Open Sans', serif; 
  font-weight: 300;  
  margin: 0;
  padding: 0;
}

.hero.is-success {
  background: #f2f7fa;
}

.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

h1{
  font-size: 16px;  
}

input {
  font-weight: 300;
}
p {
  font-weight: 700;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.imagem {
  max-width: 100%;
  height: auto;
  object-fit: cover; 
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  background-image: url('../img/fundo.jpg');
  background-size: cover;
  background-position: center;
  
  
}

.overlay {
  padding-top: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to bottom, #3498db, #2980b9); /* Cores de exemplo, substitua pelos tons desejados */
  opacity: 0.8; /* Ajuste a opacidade conforme necessário */
  z-index: 1; /* Coloca o overlay acima do conteúdo da div .maria */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.subdiv1 {
  border: 1px solid #ccc;
  box-sizing: border-box;  
  height: 300px;
  background-color: white;
  width: 35%;
  text-align: center;
  border-radius: 15px;
}

.modern-button {
  display: inline-block;
  padding: 15px 30px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #3498db; /* Cor de fundo do botão */
  transition: background-color 0.3s ease;
}

.modern-button:hover {
  background-color: #2980b9; /* Cor de fundo do botão ao passar o mouse */
}

.highlight-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #e74c3c; /* Cor de fundo do botão de destaque */
  margin-top: 20px; /* Espaçamento superior para separar os botões */
  transition: background-color 0.3s ease;
}

.highlight-button:hover {
  background-color: #c0392b; /* Cor de fundo do botão de destaque ao passar o mouse */
}